#splash {
    height: 100vh;
}

#splash .section-item {
    width: 100%;
}

#splash-header {
    align-items: flex-end;
    justify-content: center;
}

#splash-img {
    border-radius: 50%;
}

/* #splash-about {
}

#splash-about-title {
}

#splash-about-content {
} */

.splash-about-highlight {
    color: #47C682;
    transition: 500ms;
    border-bottom: 1px solid transparent;
}
  
.splash-about-highlight:hover {
    border-color: white;
}

#splash-action {
    color: white;
}

#splash-action:hover {
    color: lightgray;
}


#dev-btn {
    padding: 10px;
}