@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vh 7vw 2.5vh 7vw;
  width: 100vw;
}

.section-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5vh 7vw 2.5vh 7vw;
  width: 100vw;
}

.section-item {
  flex: 1;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}