@import app

#experience
    color: $dark

#header 
    width: 100%
    justify-content: flex-start
    .sectionTitle
        margin: 0

.experience
    @extend .rowBare
    height: 46px
    width: 100%
    justify-content: flex-start

.columnContainer
    @extend .item, .rowBare
    margin: 0 20px 0 10px
    justify-content: left
    max-width: 60px

.dateContainer
    width: 36px

.column
    color: white
    
.date 
    color: $dark
    rect, circle
        @extend .column
        fill: $dark

.work 
    color: $primary
    rect, circle
        @extend .column
        fill: $primary

.projects 
    color: $accent
    rect, circle
        @extend .column
        fill: $accent

.detailsContainer
    @extend .colBare
    flex: 10
    height: 100%
    align-items: flex-start
    justify-content: flex-start
    transition: all 1s ease-in-out
    p
        margin: 12.5px

.detailsContainer:hover
    @extend .item
    $height: 250px
    height: $height
    margin-top: $height - 46px
    outline: 5px solid $dark
    background-color: $light
    padding: 2.5vh
    z-index: 1