@import app

#experience
    color: $dark
    text-align: left

#header 
    width: 100%
    justify-content: flex-start
    .sectionTitle
        margin: 0

.experience
    @extend .item, .rowBare
    width: 100%
    height: 100%
    justify-content: flex-start
    align-items: flex-start
    position: relative

.dateContainer
    @extend .item, .rowBare
    height: 46px
    max-width: 36px
    flex-basis: 36px
    flex-shrink: 0
    p
        margin: 0
        height: auto

.columnContainer
    @extend .rowBare
    margin: 0 20px 0 10px
    max-width: 60px
    align-items: flex-start
    height: 100%
    left: 36px
    position: absolute
    flex-wrap: nowrap

.column
    height: 100%

.date 
    @extend .column
    color: $dark
    rect, circle
        fill: $dark

.work 
    @extend .column
    color: $primary
    rect, circle
        fill: $primary

.projects 
    @extend .column
    color: $accent
    rect, circle
        fill: $accent

.detailsContainer
    @extend .colBare
    flex: 10
    align-items: center
    justify-content: flex-start
    transition: all 0.5s ease-in-out, background-color 0s
    margin-left: 90px
    width: 100%
    p
        margin: 0

.detailsContainer:hover
    padding: 1vh

#detailsHeader
    min-height: 46px
    width: 100%
    justify-content: space-between
    padding: 10px 0 10px 0

#tagsContainer
    justify-content: flex-start

.outline
    padding: 0px 5px 0px 5px
    border-radius: 5px
    border: 1px solid $dark
    margin: 2.5px

#detailsBody
    padding: 1vh
    height: 100%
    width: 100%
    justify-content: flex-start
    align-items: flex-start

#descriptionContainer
    justify-content: center
    align-items: flex-start
    margin: 2vh
    li 
        padding: 0.5vh 0 0.5vh 0

#linksContainer
    flex: 10
    width: 100%
    align-items: flex-end
    justify-content: center
    a
        @extend .outline
        padding: 10px
        text-decoration: none
        color: $dark
    a:hover
        color: $light
        background-color: $dark

@media (max-width: 600px) 
    #experience
        padding: 1vh
    .detailsContainer
        margin-left: 75px
