.commit
    display: flex
    flex-shrink: 0
    align-items: center

.selectedCommit
    background-color: $subtleAccent

.dateContainer
    text-align: right
    width: 60px

.branchContainer
    display: flex
    width: 150px

.masterBranch
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg)
    margin: 0
    
.experienceBranch
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(350deg)
    margin: 0

.projectsBranch
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(100deg)
    margin: 0

.messageContainer
    flex-basis: 60%
    display: flex
    align-items: center
    height: 46px
    padding-left: 0.5em

.titleMessage:hover
    background-color: $subtleAccent

