#graph 
    background-color: $primary;
    padding-top: 2vw
    height: 100vh
    display: flex

#branchContainer  
    flex-grow: 1

#commitContainer
    flex-grow: 3

.commit
    padding: 1em

.commit:hover
    background-color: $subtleAccent

.selectedCommit
    background-color: $subtleAccent

.commitName

