#modal 
    background-color: $action
    padding: 2vw
    position: fixed
    bottom: 0
    right: 0
    height: 25vh
    width: 76vw
    z-index: 1
    display: flex

#modalLeft
    flex-grow: 1
    display: flex
    flex-direction: column

#metaContainer
    flex-grow: 5

#tagsContainer
    flex-grow: 1

#modalRight
    flex-grow: 1
    display: flex

#modalDivider
    flex-grow: 1
    display: flex
    flex-direction: column

#descriptionContainer
    flex-grow: 15
    display: flex
    flex-direction: column

#toggleContainer
    flex-grow: 1
    text-align: center

@media only screen and (max-width: 600px) 
    #modal  


