#remotes
    height: 100%
    display: flex
    flex-direction: column
    text-align: left
    justify-content: flex-start
    padding-left: 2vh
    div
        justify-content: space-between
        padding-left: 2vh

#title
    text-transform: capitalize
    text-align: left

.remoteDescription
    text-align: left

p  
    padding: 1em

a
    text-decoration: none
    color: slategray
a:hover
    color: $pronouncedAccent
    

#originContainer
    
#designStages
    width: 35vw

#legacyContainer